<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css2/home.css">
    <link rel="stylesheet" media="screen and (max-width: 1100px)" href="css2/phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap" rel="stylesheet">
    <title>Pet Shop</title>

    style 
        include ../css2/home.css
    body
        script
            include ../js/home.js
    
        
        

</head>


<body>
    <div class="navbar">
        <img id="logo" src="../static/logo.png" alt="">
        <ul class="nav">
            <li class="nav-items"><a href="#">Home</a></li>
            <li class="nav-items"><a href="#servheading">Services</a></li>
            <li class="nav-items"><a href="#">Offers</a></li>
            <li class="nav-items"><a href="#contact-us">Contact Us</a></li>
        </ul>

        <div class="search">
            <input type="text" name="" id="" placeholder="search.....">
            <a href="#"><i class="fa fa-search"></i></a>

        </div>
    </div>
    <div class="homebg"></div>
    <section class="home">
        <h1>Welcome to Pet Shop</h1>

    </section>
    </div>
    <h1 id="servheading">Our Services</h1>
    <div class="section">

        <div class="box">
            <img src="../static/dog.png" alt="">
            <h2>DOGS</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus a ut maxime cupiditate numquam tempora
                harum animi ea eveniet voluptatibus.</p>
            <p><a href="#">Browse.... </a></p>
        </div>
        <div class="box">
            <img src="../static/cat.png" alt="">
            <h2>CATS</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus a ut maxime cupiditate numquam tempora
                harum animi ea eveniet voluptatibus.</p>
            <p><a href="#">Browse.... </a></p>
        </div>
        <div class="box"><img src="../static/fish.png" alt="">
            <h2>FISH</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus a ut maxime cupiditate numquam tempora
                harum animi ea eveniet voluptatibus.</p>
            <p><a href="#">Browse.... </a></p>
        </div>
        <div class="box"><img src="../static/accesories.png" alt="">
            <h2>Accesories</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus a ut maxime cupiditate numquam tempora
                harum animi ea eveniet voluptatibus.</p>
            <p><a href="#">Browse.... </a></p>
        </div>
    </div>
    <h1 id="contact-us">Contact Us</h1>
    <div class="contact">
        <img id="image" src="../static/contact.png" alt="">
        
        <form action='#' class="contactform" method='post'>
            htr
            <input type="text" name='name' placeholder="Enter Your Name">
            <input type="text" name='email' placeholder="Enter Your Email">
            <input type="text" name='phone' placeholder="Enter Your Phone No.">
            <input class="btn" name='' type="submit" value="submit" onclick="submitconfirm()">
        </form>
    
    </div>
    <footer>
        <div class="copyright">
            Copyright &copy; www.petshop.com  All rights reserved
        </div>
    </footer>

    

</body>

</html>